<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.kotelnikoff.yandexoauth">
    <application>
        <activity
            android:name="com.yandex.authsdk.YandexAuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="yx${YANDEX_CLIENT_ID}" />
            </intent-filter>
        </activity>
    </application>
</manifest>
